:root {
  --black: #121212;
  --white: #ffffff;
  --light-white: #f1f1f1;
  --light-white: #d2d2d7;
  --primary-color: #ff0100;
  --gradient-color: linear-gradient(
    180deg,
    rgba(31, 31, 31, 0.6) 0%,
    #1f1f1f 100%
  );
}

/* Imports */

/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* Playfair */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

/* Gilroy */
@font-face {
  font-family: "Gilroy";
  src: local(Gilroy), url("../fonts/Gilroy-Regular.ttf"),
    ("../fonts/Gilroy-Medium.ttf"),
    ("../fonts/Gilroy-Semibold.ttf") format("opentype");
  font-weight: normal;
}

/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
  display: block;
}

img {
  display: block;
  width: 100%;
}

/* General */
main {
  width: 100%;
  overflow: hidden;
}

/* Header */

.header-container {
  width: 100%;
  padding: 0 1.25rem;
  padding-top: 1.25rem;
  z-index: 999;
  background: var(--white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 68.75rem;
  max-height: 5.5rem;
  background: var(--black);
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* menu */
nav {
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.25rem;
  gap: 2rem;
  justify-content: center;
  position: absolute;
  right: -150%;
  top: 85%;
  transition: all 0.5s ease;
  background: var(--black);
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  height: 280px;
  opacity: 0;
  z-index: 999;
  overflow-y: auto;
}

.nav.active {
  right: 0px;
  opacity: 1;
  position: absolute;
}

.nav li a {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

/* menu-hamburger */

.menu-hamburger {
  transform: rotate(-45deg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0.625rem;
}

.menu-hamburger.active .hamb-1 {
  transform: rotate(90deg) translateX(-0.1875rem);
}

.menu-hamburger.active .hamb-3 {
  transform: rotate(90deg) translateX(0.1875rem);
}

.menu-hamburger span {
  display: block;
  background: var(--white);
  width: 1.25rem;
  height: 0.12rem;
  transition: all 0.3s ease-in-out;
  margin: 0.3125rem;
}

.menu-hamburger :is(.hamb-1, .hamb-3) {
  width: 0.625rem;
}

.menu-hamburger .hamb-1 {
  margin-left: auto;
  transform-origin: left;
}

.menu-hamburger .hamb-3 {
  transform-origin: right;
}

/* intro */

.intro-bg {
  background: var(--white);
  position: relative;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.intro-text-bg {
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25), 0px 4px 0px var(--primary-color);
  width: 100%;
  position: static;
  z-index: 2;
}

.intro-text {
  width: 100%;
  padding: 40px 20px 60px 20px;
  background: var(--white);
  max-width: 68.75rem;
}

.intro-text p {
  font-size: 0.7rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.47px;
  color: var(--primary-color);
  margin-left: 3px;
  margin-bottom: 10px;
}

.intro-text h1 {
  font-size: 2.75rem;
  font-weight: 700;
  letter-spacing: 0.616px;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  margin-bottom: 10px;
}

.intro-text h1 span {
  color: var(--primary-color);
}

.whatsapp-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.whatsapp-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--black);
  font-size: 0.75rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.intro .whatsapp-list li:last-child img {
  height: 16px;
}

.whatsapp-list a img {
  width: 24px;
  height: 24px;
}

/* Slide container */
.slide-container {
  width: 100%;
}

.slide-container img {
  object-fit: cover;
  max-height: 260px;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--primary-color) !important;
}

/* back-to-top */
.back-to-top {
  border: 2px solid var(--primary-color);
  height: 40px;
  width: 40px;
  bottom: 0;
  right: 20px;
  border-radius: 50%;
  z-index: 997;
  position: fixed;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
}

.back-to-top.ativo {
  bottom: 40px;
  opacity: 1;
}

/* Services */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    var(--primary-color) 50%,
    var(--light-white) 50%
  );
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-section p {
  font-size: 0.6rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.15em;
  color: var(--white);
}

.title-section h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 40px;
  text-transform: uppercase;
}

.services-list li img {
  height: 93px;
}

.services-list {
  margin-bottom: 20px;
}

.services-list .swiper-wrapper {
  display: flex;
  max-width: 225px;
  margin: 0 !important;
  transition: all 0.2s ease;
  padding: 0 !important;
  margin-bottom: 20px;
}

.swiper-pagination1 {
  position: unset !important;
  transform: translateX(0) !important;
  z-index: 999;
}

.swiper-pagination-bullet {
  transition: all 0.5s;
}

.swiper-pagination-bullet-active {
  background: red !important;
  transform: scale(1.3);
}

.services-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 10px;
  width: 225px !important;
  height: 225px;
  background: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  user-select: none;
  flex-shrink: 0;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.services-list li:first-child {
  margin-left: 0 !important;
}

.services-list .swiper-slide-active {
  opacity: 1;
}

.services-list li::after {
  content: "";
  width: 36px;
  height: 4px;
  position: absolute;
  background: var(--primary-color);
  bottom: 0;
  border-radius: 4px 4px 0px 0px;
}

.services-list li h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: var(--black);
  font-size: 1rem;
}

.services-list li img {
  margin-bottom: 1.125rem;
}

.slide-nav {
  display: flex;
  gap: 12px;
}

.slide-nav button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: blue;
  border: none;
}

.slide-nav button.active {
  background: red;
}

/* Parallax */

.parallax {
  background: var(--gradient-color), url(../img/photos/parallax.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-size: auto, cover;
  background-position: 0 0, 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  padding: 0 20px;
}

.parallax-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parallax-text p {
  font-size: 1rem;
  font-family: "Gilroy", serif;
  font-weight: 500;
  color: var(--white);
  text-align: center;
  margin-bottom: 40px;
}

.parallax a {
  font-size: 0.875rem;
  text-align: center;
  font-family: "Gilroy", serif;
  padding: 16px 16px 14px 16px;
  border: 2px solid var(--light-white);
  width: max-content;
}

/* clientes */

.clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--light-white);
  padding: 60px 20px;
  height: max-content;
  overflow: hidden;
}

.clientes-text p {
  color: var(--black);
}

.clientes-text h2 {
  color: var(--black);
  margin-bottom: 60px;
}

.clientes .swiper-wrapper {
  display: flex;
  margin-bottom: 10px;
  transition: 0.5s;
  max-width: 320px;
}

.testimonial .testimonial-item {
  position: relative;
  background: var(--white);
  padding: 60px 20px 40px 20px;
  border-radius: 4px;
  box-shadow: 0 0.5rem 0.5rem rgba(65, 52, 52, 0.25);
  margin-bottom: 20px;
  margin-top: 40px;
  max-width: 320px;
  transition: all 0.3s;
  user-select: none;
  opacity: 0.7;
  flex-shrink: 0;
}

.swiper-slide-active {
  opacity: 1 !important;
}

.testimonial .testimonial-item::after {
  content: "";
  width: 36px;
  height: 4px;
  position: absolute;
  background: var(--primary-color);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 4px 4px 0px 0px;
}

.testimonial-item .avatar {
  background: var(--white);
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -130%);
  z-index: 999;
}

.testimonial-item .avatar img {
  border-bottom: none;
  border-left: none;
  border-right: none;
  height: 60px;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.testimonial-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--black);
  text-align: center;
  line-height: 1.4;
  padding: 0 20px;
  margin-bottom: 20px;
}

.testimonial-text p span {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.testimonial-text h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.swiper-pagination2 {
  position: unset !important;
  transform: translateX(0) !important;
}

.swiper-pagination-bullet {
  transition: all 0.5s;
}

.swiper-pagination-bullet-active {
  background: red !important;
  transform: scale(1.3);
}

/* Contato */
.contato .left-container {
  padding: 60px 0;
}

.contato-text {
  text-align: center;
}

.contato-text p {
  color: var(--black);
}

.contato-text h2 {
  color: var(--black);
}

.contato-medias {
  display: flex;
  justify-content: center;
  padding: 0 40px;
  gap: 40px;
}

.contato-local h3,
.whatsapp-list h3 {
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--black);
  font-family: "Poppins", sans-serif;
}

.contato-local p {
  font-size: 0.875rem;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
}

.mapa-icon {
  position: relative;
}

.mapa-icon::before {
  content: "";
  position: absolute;
  background: url("../img/icons/local-icon.svg");
  height: 1rem;
  width: 1rem;
  left: -20px;
}

.contato .whatsapp-list {
  flex-direction: column;
}

.contato .whatsapp-list a {
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  font-family: "Roboto", sans-serif;
  justify-content: flex-start;
}

.contato .whatsapp-list a::before {
  content: "";
  position: absolute;
  background: url("../img/icons/whatsapp-icon.svg");
  height: 1.25rem;
  width: 1.25rem;
  left: -20px;
}

.contato .whatsapp-list li:last-child a::before {
  content: "";
  position: absolute;
  background: url("../img/icons/instagram.svg");
  height: 1rem;
  width: 1rem;
  left: -20px;
}

.contato-mapa {
  height: 500px;
}

.frame-mapa {
  width: 100%;
  height: 100%;
}

/* Footer */
.footer {
  width: 100%;
  background: var(--primary-color);
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: var(--white);
  font-weight: 400;
}

/* Media Query */

/* Para telas de aparelhos menores que o padrão inicial do projeto */
@media (max-width: 380px) {
  .intro-text p,
  .whatsapp-list a {
    font-size: 0.7rem;
  }

  .title-section p {
    font-size: 0.5rem;
  }

  .title-section h2 {
    font-size: 1.65rem;
  }

  .clientes .swiper {
    max-width: 280px;
  }

  .testimonial .testimonial-item {
    max-width: 280px;
  }
}

@media (min-width: 481px) {
  .intro-text p {
    font-size: 0.875rem;
  }

  .intro-text h1 {
    font-size: 4rem;
    max-width: 15ch;
  }

  .whatsapp-list a {
    font-size: 1rem;
  }

  .slide {
    max-height: 600px;
  }

  .slide img {
    max-height: 600px;
  }

  .title-section p {
    font-size: 0.7rem;
  }

  .title-section h2 {
    font-size: 3rem;
  }

  /* Parallax */

  .parallax-text p {
    font-size: 2rem;
  }

  .parallax a {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .title-section p {
    font-size: 0.875rem;
  }

  .title-section h2 {
    font-size: 3rem;
    margin-bottom: 60px;
  }

  .services-list .swiper-wrapper {
    max-width: 470px;
  }

  /* clientes-slide */
  .testimonial {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .clientes .swiper-wrapper {
    max-width: 600px;
  }

  .testimonial .testimonial-item {
    max-width: 340px;
  }

  /* contato */

  .contato-local h3,
  .whatsapp-list h3 {
    font-size: 1.5rem;
  }

  .contato-local p,
  .contato-container .whatsapp-list a {
    font-size: 1.25rem;
    margin-bottom: 12px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  /* reutilize style */
  .title-section p {
    font-size: 1rem;
  }

  .title-section h2 {
    font-size: 4rem;
  }

  /* header */
  .header {
    padding: 1.25rem 1.25rem 0 1.25rem;
  }

  .logo {
    margin-bottom: 10px;
  }

  .nav {
    position: unset;
    display: flex;
    opacity: 1;
    height: 100%;
    justify-content: flex-end;
  }

  .nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 2.5rem;
  }

  .nav li a {
    font-weight: 600;
    font-size: 0.75rem;
    padding: 1rem 0 2.1rem 0;
    border-bottom: 0.25rem solid transparent;
    transition: 0.3s;
  }

  .nav li:hover a {
    border-bottom: 0.25rem solid var(--primary-color);
  }
  .menu-hamburger {
    display: none;
  }

  /* intro */

  .intro-bg {
    box-shadow: inset 0 -180px var(--primary-color);
  }

  .intro {
    display: flex;
    flex-direction: row;
    max-width: 60rem;
    margin: 0 auto;
    padding-top: 60px;
  }

  .intro-text-bg {
    box-shadow: none;
    align-self: flex-end;
    padding-bottom: 200px;
  }

  .intro-text {
    padding-left: 20px;
    background: transparent;
  }

  .slide {
    border-radius: 4px;
  }

  .slide-container img {
    height: 600px;
    border-radius: 4px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  }

  /* services */

  .services-list .swiper-wrapper {
    max-width: 715px;
  }

  /* Parallax */

  .parallax {
    height: 70vh;
  }

  .parallax-text p {
    font-size: 2.5rem;
    max-width: 40ch;
  }

  .parallax a {
    font-size: 2rem;
    transition: all 0.4s;
  }

  .parallax a:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }

  /* clients */
  .testimonial .testimonial-item {
    display: block;
  }

  /* clientes-slide */
  .clientes .swiper-wrapper {
    max-width: 900px;
  }

  /* contato */
  .contato-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contato-mapa {
    order: 1;
  }

  .contato-medias {
    order: 2;
    gap: 60px;
  }

  .contato-text h2 {
    font-size: 2.75rem;
  }

  .contato-local p,
  .contato-container .whatsapp-list a {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .intro {
    max-width: 68.75rem;
  }

  .intro-text {
    padding: 60px 0 80px 0;
  }

  .intro-text h1 {
    max-width: max-content;
  }

  .back-to-top {
    height: 60px;
    width: 60px;
    right: 120px;
  }

  .slide img {
    object-fit: cover;
    max-height: 1300px;
  }

  .services-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .services-list .swiper-wrapper {
    display: grid;
    max-width: 68.75rem;
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    transform: translate3d(0px, 0px, 0px) !important;
  }

  .services-list li {
    opacity: 1;
  }

  .swiper-pagination1 {
    display: none;
  }

  /* clientes-slide */
  .clientes .swiper-wrapper {
    max-width: 1030px;
  }

  .clientes .slide-wrapper img {
    width: 100%;
  }

  /* contato */
  .contato-text h2 {
    font-size: 3.5rem;
  }
}
