:root {
  --black: #121212;
  --white: #ffffff;
  --light-gray: #f1f1f1;
  --primary-color: #ff0100;
}

/* Imports */

/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
  display: block;
}

img {
  display: block;
  width: 100%;
}

/* General */

body {
  height: 3000px;
}

main {
  width: 100%;
  overflow: hidden;
}

/* Header */

.header-container {
  width: 100%;
  padding: 0 1.25rem;
  padding-top: 1.25rem;
  z-index: 999;
  background: var(--white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 68.75rem;
  max-height: 5.5rem;
  background: var(--black);
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* menu */
nav {
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.25rem;
  gap: 2rem;
  justify-content: center;
  position: absolute;
  right: -150%;
  top: 85%;
  transition: all 0.5s ease;
  background: var(--black);
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  height: 280px;
  opacity: 0;
  z-index: 999;
  overflow-y: auto;
}

.nav.active {
  right: 0px;
  opacity: 1;
  position: absolute;
}

.nav li a {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

/* menu-hamburger */

.menu-hamburger {
  transform: rotate(-45deg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0.625rem;
}

.menu-hamburger.active .hamb-1 {
  transform: rotate(90deg) translateX(-0.1875rem);
}

.menu-hamburger.active .hamb-3 {
  transform: rotate(90deg) translateX(0.1875rem);
}

.menu-hamburger span {
  display: block;
  background: var(--white);
  width: 1.25rem;
  height: 0.12rem;
  transition: all 0.3s ease-in-out;
  margin: 0.3125rem;
}

.menu-hamburger :is(.hamb-1, .hamb-3) {
  width: 0.625rem;
}

.menu-hamburger .hamb-1 {
  margin-left: auto;
  transform-origin: left;
}

.menu-hamburger .hamb-3 {
  transform-origin: right;
}

.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

/* intro */

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: var(--white);
}

.intro-text-bg {
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25), 0px 4px 0px var(--primary-color);
  width: 100%;
  position: static;
  z-index: 2;
}

.intro-text {
  width: 100%;
  padding: 40px 20px 60px 20px;
  background: var(--white);
  max-width: 68.75rem;
  /* clip-path: polygon(0 0, 100% 0, 66% 100%, 0% 100%); 
  usar para criar efeito na intro*/
}

.intro-text p {
  font-size: 0.7rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.47px;
  color: var(--primary-color);
  margin-left: 3px;
  margin-bottom: 10px;
}

.intro-text h1 {
  font-size: 2.75rem;
  font-weight: 700;
  letter-spacing: 0.616px;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  margin-bottom: 10px;
}

.intro-text h1 span {
  color: var(--primary-color);
}

.whatsapp-list {
  display: flex;
  gap: 12px;
}

.whatsapp-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--black);
  font-size: 0.75rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.whatsapp-list a img {
  width: 24px;
  height: 24px;
}

/* Slide container */
.slide-wrapper {
  width: 100%;
}

.slide-wrapper img {
  object-fit: cover;
  max-height: 260px;
}

/* Services */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    var(--primary-color) 50%,
    var(--light-gray) 50%
  );
}

.services-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-text p {
  font-size: 0.6rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.15em;
  color: var(--white);
}

.services-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.7rem;
  color: var(--white);
  margin-bottom: 40px;
}

.services-list li img {
  height: 93px;
}

.services-list {
  display: flex;
  gap: 32px;
  padding: 0 20px 20px 20px;
  overflow: auto;
  width: 100%;
  height: max-content;
  transition: all 0.2s ease;
}

.services-list::-webkit-scrollbar {
  height: 4px;
}

.services-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 8px;
}

.services-list::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.services-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  padding: 20px 10px;
  min-width: 225px;
  max-width: 225px;
  height: 225px;
  background: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.services-list li::after {
  content: "";
  width: 36px;
  height: 4px;
  position: absolute;
  background: var(--primary-color);
  bottom: 0;
  border-radius: 4px 4px 0px 0px;
}

.services-list .services-list li h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: var(--black);
  font-size: 1rem;
}

.services-list li img {
  margin-bottom: 1.125rem;
}

.slide-nav {
  display: flex;
  gap: 12px;
}

.slide-nav button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: blue;
  border: none;
}

.slide-nav button.active {
  background: red;
}

/* Media Query */

/* Para telas de aparelhos menores que o padrão inicial do projeto */
@media (max-width: 380px) {
  .intro-text p,
  .whatsapp-list a {
    font-size: 0.7rem;
  }

  .services p {
    font-size: 0.5rem;
  }

  .services h2 {
    font-size: 2.2rem;
  }
}

@media (min-width: 481px) {
  .intro-text p {
    font-size: 0.875rem;
  }

  .intro-text h1 {
    font-size: 4rem;
    max-width: 15ch;
  }

  .whatsapp-list a {
    font-size: 1rem;
  }

  .slide {
    max-height: 600px;
    overflow: hidden;
  }

  .slide img {
    max-height: 600px;
  }

  .services-text p {
    font-size: 0.7rem;
  }

  .services-text h2 {
    font-size: 3rem;
  }
}

@media (min-width: 600px) {
  .services-text p {
    font-size: 0.875rem;
  }

  .services-text h2 {
    font-size: 4rem;
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  /* header */
  .header {
    padding: 1.25rem 1.25rem 0 1.25rem;
  }

  .logo {
    margin-bottom: 10px;
  }

  .nav {
    position: unset;
    display: flex;
    opacity: 1;
    height: 100%;
    justify-content: flex-end;
  }

  .nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 2.5rem;
  }

  .nav li a {
    font-weight: 600;
    font-size: 0.75rem;
    padding: 1rem 0 2.1rem 0;
    border-bottom: 0.25rem solid transparent;
    transition: 0.3s;
  }

  .nav li:hover a {
    border-bottom: 0.25rem solid var(--primary-color);
  }
  .menu-hamburger {
    display: none;
  }

  /* intro */
  .intro-text {
    padding-left: 20px;
  }

  /* services */

  .services-list {
    display: grid;
    max-width: 68.75rem;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .intro-text {
    padding: 60px 0 80px 0;
  }

  .intro-text h1 {
    max-width: max-content;
  }

  .slide img {
    object-fit: cover;
    max-height: 1300px;
  }

  .services-list {
    gap: 50px;
  }
}
